<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form Function Test</title>
</head>
<body>


    <h1>Please enter your proposal</h1>
    <form action= "/extractDrugNames" method="POST">
        <label for="proposal">Your Text here:</label>
        <input type="text"  name="proposal" required>
        <button type="submit" >Submit</button>
    </form>

    
    <p id="result"></p>
    <h2>Result:</h2>
    <h3>Your Drug is: </h3>
    <p>{{ drug_names}}</p>
    <h3> Your Traget is: </h3>
    <p>{{ target_names}}</p>


</body>
</html>